apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Release.Namespace }} # <-- Tự động lấy namespace lúc cài
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name }}
    spec:
      imagePullSecrets:
      - name: {{ .Values.image.pullSecretsName }} # <-- Biến cho tên Secret
      containers:
      - name: ainetwork-frontend
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}" # <-- Biến cho Image
        ports:
        - containerPort: {{ .Values.service.targetPort }}
